//
   Created by maximesenecal on 09/06/2016.

//
   Created by maximesenecal on 20/05/2016.

extends layout

block content
    br
    .container
        .section
            .row
                table
                    thead
                        tr
                            th(data-field='name') Nom des fichiers
                            th(data-field='size') Taille
                            th(data-field='type') Type
                            th.center-align(data-field='actions') Actions
                    tbody
                        if files
                            each file in files
                                tr
                                    td #{file.filename}
                                    td #{file.size}
                                    td #{file.encoding}
                                    td.center-align
                                        if file.download
                                            a.btn.green.darken-1(href="#{file.path}", download="#{file.filename}")
                                                | Télécharger
                                        else
                                            .preloader-wrapper.small.active
                                                .spinner-layer.spinner-green-only
                                                    .circle-clipper.left
                                                        .circle
                                                    .gap-patch
                                                        .circle
                                                    .circle-clipper.right
                                                        .circle
                        else
                            tr
                                td Ex : game.of.thrones.s06e05.720p.hdtv.x264-avs
                                td mkv
                                td 1.10Go
                                td Conversion en cours