//
   Created by maximesenecal on 09/06/2016.

extends layout

block content
    if message
        .container
            .row
                .col.s12
                    .card-panel.teal
                        span.white-text #{message}
    .container
        .section
            .row
                table
                    thead
                        tr
                            th(data-field='name') Nom des fichiers
                            th(data-field='size') Taille (en octets)
                            th(data-field='type') Type
                            th.center-align(data-field='actions') Actions
                    tbody
                        if files
                            each file in files
                                tr
                                    td #{file.filename}
                                    td #{file.size}
                                    td #{file.mimetype}
                                    td.center-align
                                        if file.download
                                            a.btn.green.darken-1(href="#{file.downloadUrl}", download="#{file.filename}")
                                                | Télécharger
                                        else if file.error
                                            a.btn.red.darken-1(href="mailto:team@transcode.io")
                                                | Avertir l'équipe
                                        else
                                            .preloader-wrapper.small.active
                                                .spinner-layer.spinner-green-only
                                                    .circle-clipper.left
                                                        .circle
                                                    .gap-patch
                                                        .circle
                                                    .circle-clipper.right
                                                        .circle