//
   Created by maximesenecal on 20/05/2016.

extends layout

block content
    if message
        | #{message}
    .container
        .section
            .row
                table
                    thead
                        tr
                            th(data-field='id') Nom du fichier à convertir
                            th(data-field='type') Type
                            th(data-field='audio_codec') Taille du fichier
                            th(data-field='video_codec') Durée
                    tbody
                        tr
                            if media
                                td #{media.title}
                                td #{media.type}
                                td #{media.size}
                                td #{media.lenght}
                            td game.of.thrones.s06e05.720p.hdtv.x264-avs
                            td mkv
                            td 1.10Go
                            td 58:12
            .row
                a.waves-effect.waves-light.btn-large
                    i.material-icons.left cloud
                    | Choisir un fichier à convertir